<h1>
  <%= image_tag(contributor.picture_url, alt: contributor.name, class: "contributor_picture") %>
  <%= link_to contributor.name, contributor %>
</h1>

<div class="row">
  <div class="contributor">
    <div class="row">
      <div class="col-md-12">
        <%@category_id = contributor.category_ids.first %>
        <% @biases = Bias.where(category_id: @category_id).sort_by {|b| b.votes.where(voteable_id: contributor.id, voteable_type: "Contributor").count  }.reverse.first(3)%>
        <% @biases.each do |bias|%>
          <%= render partial: "biases/bias", locals: {bias: bias, voteable: contributor} %>
        <% end %>
      </div>
    </div>
  </div>
</div>
