<% provide(:title, 'Unapproved Contributors') %>
<h1>Unapproved Sources</h1>

<%= will_paginate %>

<ul class="contributors">
  <% @contributors.each do |contributor| %>
    <li>
      <%= image_tag(contributor.picture_url, alt: contributor.name, class: "contributor_picture") %>
      <%= link_to contributor.name, contributor %>
      <% if current_user && current_user.admin? %>
        | <%= link_to "Delete", contributor, method: :delete,
                                      data: { confirm: "You sure?" } %>
        | <%= link_to "Approve", contributors_approved_path(id: contributor.friendly_id, approved: true),
                                      method: :post %>
      <% end %>
    </li>
  <% end %>



</ul>

<%= will_paginate %>
