<% provide(:title, 'Create Contributor') %>
<h1>Create Contributor</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@contributor) do |f| %>

      <%= render 'shared/error_messages' %>

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :picture %>
      <%= f.file_field :picture, class: 'form-control' %>

      <%= f.label :source_id %><br />
      <%= f.select :source_id, options_for_select(Source.all.map{|s|[s.name, s.id]}) %>

      <%= f.label :category_id %><br />
      <%= f.select :category_ids, Category.all.collect {|x| [x.name, x.id]}, {}, :multiple => true %>

      <%= f.submit "Create Contributor", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
