<h1>
  <%= image_tag(@contributor.picture_url, alt: @contributor.name, class: "contributor_picture") %>
  <%= @contributor.name %>
</h1>

<div class="row">
  <div class="col-md-12">
    <% @contributor.category_ids.each do |category_id| %>
      <% @biases = Bias.where(category_id: category_id).sort_by {|b| b.votes.where(voteable_id: @contributor.id, voteable_type: "Contributor").count  }.reverse%>
      <% @biases.each do |bias|%>
        <%= render partial: "biases/bias", locals: {bias: bias, voteable: @contributor} %>
      <% end %>
    <% end %>
  </div>
</div>
