<h1>Profile Page</h1>
<h3>Votes</h3>
<div class="row">
  <div class="col-md-12">
    <table class = "table table-striped">
      <thead>
        <tr>
          <th>Source/Contributor</th>
          <th>Topic</th>
          <th>Your Vote</th>
        </tr>
      </thead>
      <% Vote.where(user_id: @user.id).each do |vote| %>
        <tr>
          <td>
            <% if vote.voteable_type == "Source" %>
              <% @source = Source.find(vote.voteable_id) %>
              <%= image_tag(@source.logo_url, alt: @source.name, class: "vote_picture") %>
              <%= link_to @source.name, @source%>
            <% else %>
              <% @contributor = Contributor.find(vote.voteable_id) %>
              <%= image_tag(@contributor.picture_url, alt: @contributor.name, class: "vote_picture") %>
              <%= link_to @contributor.name, @contributor%>
            <% end %>
          </td>
          <td>
            <% @bias = Bias.find(vote.bias_id )%>
            <%= image_tag(@bias.picture_url, alt: @bias.name, class: "vote_picture") %>
            <%= @bias.name%>
          </td>
          <td>
            <% if vote.option == 1 %>
              <%= @bias.option1 %>
            <% elsif vote.option == 2 %>
              <%= @bias.option2 %>
            <% else %>
              <%= @bias.option3 %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
