<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "What Bias", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-left">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Politics <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to "All", {:controller => "categories", :action => "show", :id => "Politics" }%></li>
            <li class="divider"></li>
            <li><%= link_to "Create Source", new_source_path%></li>
            <li class="divider"></li>
            <li><%= link_to "Create Contributor", new_contributor_path%></li>
          </ul>
        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Sports <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to "All", {:controller => "categories", :action => "show", :id => "Sports" }%></li>
            <li class="divider"></li>
            <li><%= link_to "NFL", {:controller => "categories", :action => "show", :id => "NFL" }%></li>
            <li class="divider"></li>
            <li><%= link_to "NBA", {:controller => "categories", :action => "show", :id => "NBA" }%></li>
            <li class="divider"></li>
            <li><%= link_to "MLB", {:controller => "categories", :action => "show", :id => "MLB" }%></li>
            <li class="divider"></li>
            <li><%= link_to "NHL", {:controller => "categories", :action => "show", :id => "NHL" }%></li>
            <li class="divider"></li>
            <li><%= link_to "Create Source", new_source_path%></li>
            <li class="divider"></li>
            <li><%= link_to "Create Contributor", new_contributor_path%></li>
          </ul>
        </li>
      </ul>

      <div class="nav navbar-nav navbar-left">
        <%= form_tag search_search_path, method: :get, class:"navbar-form navbar-right" do %>
          <div class="form-group">
            <%= text_field_tag :search, params[:search], placeholder: "Search", class:"form-control" %>
          </div>
          <div class="form-group">
            <%= submit_tag "Search", class:"form-control", :name=>nil %>
          </div>
        <% end %>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Users", users_path %></li>
        <% if logged_in? %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Account <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Profile", current_user %></li>
              <li><%= link_to "Settings", edit_user_path(current_user) %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "Log out", logout_path, method: "delete" %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "Log in", login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
