<div class="row">
  <div class="bias">
    <div class="col-md-1">
      <h4 class="name"><%= bias.name %></h4>
    </div>
    <div class="col-md-2">
      <%= image_tag(bias.picture_url, alt: bias.name, class: "bias_picture") %>
    </div>
    <div class="col-md-4">
      <div class="progress">
        <div class="progress-bar progress-bar-option1" role="progressbar" style="width:<%= bias.option1_percent(voteable)%>%">
          <%= bias.option1 %>
        </div>
        <div class="progress-bar progress-bar-option2" role="progressbar" style="width:<%= bias.option2_percent(voteable)%>%">
          <%= bias.option2 %>
        </div>
        <div class="progress-bar progress-bar-option3" role="progressbar" style="width:<%= bias.option3_percent(voteable)%>%">
          <%= bias.option3 %>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <% @total = voteable.votes.where(bias_id: bias.id).count%>
      <p class="option1"><%= bias.option1 %>: <%= bias.option1_percent_display(voteable)%>% (Votes: <%= bias.option1_votes(voteable)%>)</p>
      <p class="option2"><%= bias.option2 %>: <%= bias.option2_percent_display(voteable)%>% (Votes: <%= bias.option2_votes(voteable)%>)</p>
      <p class="option3"><%= bias.option3 %>: <%= bias.option3_percent_display(voteable)%>% (Votes: <%= bias.option3_votes(voteable)%>)</p>
    </div>
    <div class="col-md-2">
      <%= form_for [voteable, Vote.new] do |f| %>
        <%= f.select :option, [[bias.option1,1],['Unbiased',2],[bias.option3,3]]%>
        <%= f.hidden_field :bias_id, :value => bias.id %>
        <%= f.submit "Vote", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
