<% provide(:title, 'Edit') %>
<h1>Edit Bias</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@source) do |f| %>
      
      <%= render 'shared/error_messages' %>
      
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>
      
      <%= f.label :picture %>
      <%= f.file_field :picture, class: 'form-control' %>
      
      <%= f.label :option1 %>
      <%= f.text_field :option1, class: 'form-control' %>
      
      <%= f.label :option3 %>
      <%= f.text_field :option3, class: 'form-control' %>
      
      <%= f.submit "Edit Bias", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
