<h1>
  <%= image_tag(source.logo_url, alt: source.name, class: "source_logo") %>
  <%= link_to source.name, source %>
</h1>

<div class="row">
  <div class="col-md-12">
    <% @category_id = source.category_ids.first%>
    <% @biases = Bias.where(category_id: @category_id).sort_by {|b| b.votes.where(voteable_id: source.id, voteable_type: "Source").count  }.reverse.first(3)%>
    <% @biases.each do |bias|%>
      <%= render partial: "biases/bias", locals: {bias: bias, voteable: source} %>
    <% end %>
  </div>
</div>
