<% provide(:title, 'Unapproved Sources') %>
<h1>Unapproved Sources</h1>

<%= will_paginate %>

<ul class="sources">
  <% @sources.each do |source| %>
    <li>
      <%= image_tag(source.logo_url, alt: source.name, class: "source_logo") %>
      <%= link_to source.name, source %>
      <% if current_user && current_user.admin? %>
        | <%= link_to "Delete", source, method: :delete,
                                      data: { confirm: "You sure?" } %>
        | <%= link_to "Approve", sources_approved_path(id: source.friendly_id, approved: true),
                                      method: :post %>
      <% end %>
    </li>
  <% end %>
</ul>

<%= will_paginate %>
