<% provide(:title, 'Edit') %>
<h1>Edit Source</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@source) do |f| %>
      
      <%= render 'shared/error_messages' %>
      
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>
      
      <%= f.label :logo %>
      <%= f.file_field :logo, class: 'form-control' %>
      
      <%= f.submit "Edit Source", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
