<% provide(:title, 'Create Source') %>
<h1>Create Source</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@source) do |f| %>

      <%= render 'shared/error_messages' %>

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :logo %>
      <%= f.file_field :logo, class: 'form-control' %>

      <%= f.label :category_id %><br />
      <%= f.select :category_ids, Category.all.collect {|x| [x.name, x.id]}, {}, :multiple => true %>

      <%= f.submit "Create Source", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
