<h1>
  <%= image_tag(@source.logo_url, alt: @source.name, class: "source_logo") %>
  <%= @source.name %>
</h1>

<div class="row">
  <div class="col-md-12">
    <% @source.category_ids.each do |category_id| %>
      <% @biases = Bias.where(category_id: category_id).sort_by {|b| b.votes.where(voteable_id: @source.id, voteable_type: "Source").count  }.reverse%>
      <% @biases.each do |bias|%>
        <%= render partial: "biases/bias", locals: {bias: bias, voteable: @source} %>
      <% end %>
    <% end %>
  </div>
</div>
<% if @source.contributors.any? %>
<h3 class="page-header">Contributors</h3>
  <div class="row"
    <div class="col-md-12">
      <%= render @contributors %>
    </div>
  </div>
<% end %>
