<% provide(:title, 'About') %>
<h1>About</h1>


WhatBias is a site that allows users to vote on different media biases.  Each source and contributor will have a variety of topics that a user can vote on, as well as see how others have voted.
