<h1>User Info</h1>

<h3>Gender</h3>

<img src="<%= Gchart.pie(:data => [User.percent_of_type('male'), User.percent_of_type('female')],
                         :map_colors => ['1e90ff', 'ffb6c1'],
                        :legend => ["Male", "Female"],) %> ">

<h3>Affiliation</h3>
<img src="<%= Gchart.pie(:data => [User.percent_of_type('republican'), User.percent_of_type('democrat'), User.percent_of_type('independent'), User.percent_of_type('unaffiliated')],
                         :map_colors => ['ff0000', '1e90ff', '32cd32', 'ffff00'],
                        :legend => ["Republican", "Democrat", "Independent", "Unaffiliated"],) %> ">

<h3>Age</h3>
<img src="<%= Gchart.pie(:data => [User.percent_of_type('under_twenties'), User.percent_of_type('twenties'), User.percent_of_type('thirties'), User.percent_of_type('fourties'), User.percent_of_type('fifty_up')],
                         :map_colors => ['ff0000', '1e90ff', '32cd32', 'ffff00', 'cccccc'],
                        :legend => ["Under 20", "20s", "30s", "40s", "50+"],) %> ">
