<% provide(:title, 'Sources') %>

<% if @sources.any? %>
  <h1>Sources</h1>

  <%= will_paginate @sources%>

  <ul class="sources">
    <%= render @sources %>
  </ul>

  <%= will_paginate @sources%>
<% end %>

<% if @contributors.any? %>
  <%= will_paginate @contributors%>

  <h1>Contributors</h1>
  <ul class="sources">
    <%= render @contributors %>
  </ul>

  <%= will_paginate @contributors%>
<% end %>
